/// Breakpoints map
$small: 700px !default;
// $smaller-medium: 900px !default;
$medium: 1000px !default;
$larger-medium: 1440px !default;
$larger: 1920px !default;

// colors

$color-bg: #F7F5F0 !default;
$color-fun1: #FFD9A2 !default;
$color-fun2: #E17B73 !default;
$color-white: #ffffff !default;
$color-dark: #3C3C4C !default;

$color-text: #3C3C4C !default;


$max-width: 1920px !default;
$max-width-smaller: 130rem !default;

$font-heading: 'Abril Fatface', cursive !default;
$font-body: 'Open Sans', sans-serif !default;


// breakpoints

$larger-medium: 1600px;
$medium: 1200px;
$smaller-medium: 1060px;

